html {
	background: #fff;
	color: #464545;
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-query(lap) {
		padding: 30px;
	}

	@include media-query(desk) {
		padding: 50px;
	}
}

body {
	max-width: 870px;
	margin: auto;
	background: #fff;
	padding: 30px;
	position: relative;
	overflow: hidden;

	@include media-query(lap) {
		padding: 30px 50px;
	}

	@include media-query(desk) {
		padding: 50px 100px;
	}
}