/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$primary: #2980b9;
$secondary: #2c3e50;
$tertiary: #95a5a6;

$positive: #27ae60;
$negative: #c0392b;
$warning: #f39c12;

$bg-light: #fff;
$border-light: #eee;
$lightest: #ccc;
$lighter: #aaa;
$light: #888;

$dark: #666;
$darker: #444;
$darkest: #222;
$border-dark: #111;
$bg-dark: #000;

// Default link color
$link: $primary;

// Default text color
$text: $dark;

// Body background
$bg-body: $bg-dark;